**/.git
**/node_modules
**/build
**/.DS_Store
terminal/cohort_only.sh
terminal/commands/ku-update-gcr
terminal/commands/ngrok
terminal/commands/helm3
notes/might-need-work.txt
notes/stackdriver-logs.txt
